version: 2
jobs:
  build:
    working_directory: ~/code
    
    docker:
      - image: circleci/python:2.7-stretch
    
    steps:
      - checkout

      - restore_cache:
        keys:
          - dependencies-{{ checksum "requirements.txt" }}
          # fallback to using the latest cache if no exact match is found
          - dependencies-

      - run:
          name: install dependencies
          command: |
            python -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt

      - save_cache:
          paths:
            - ./venv
          key: dependencies-{{ checksum "requirements.txt" }}

      - run:
          name: Run linting
          command: |
            . venv/bin/activate
            pylint ./

      - store_artifacts:
          path: test-reports
          destination: test-reports
